.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.2;
  cursor: pointer;
  background-color: var(--twitter-background);
  padding: 10px;
}
h3 {
  text-align: center;
  margin-left: 10px;
}

.sideOption:hover {
  color: var(--twitter-color);
  background-color: #c7ebfa;
  transition: color 100ms ease-out;
}
#btn {
  background-color: var(--twitter-color);
  color: white;
  margin-right: 10px;
}
.sideOption {
  display: flex;
  align-items: center;
  padding-left: 1%;
}
.sideOption-active {
  color: var(--twitter-color);
}
.twitterIcon {
  color: var(--twitter-color);
}
@media only screen and (max-width: 600px) {
  h3 {
    visibility: hidden;
  }
  h3:hover {
    visibility: hidden;
  }
  .sideOption:hover {
    color: var(--twitter-color);
    background-color: var(--twitter-background);
  }
  .sidebar {
    display: grid;
    align-items: center;
  }
  .sideOption {
    border-radius: 50%;
    width: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 20%;
  }
  .twitterIcon {
    padding-left: 20%;
  }
}
