.sidebar {
  display: grid;
  align-items: center;
  border-right: 1px solid black;
  width: 20%;
  min-height: 95vh;
  cursor: pointer;
}
h3 {
  text-align: center;
  margin-left: 10px;
}

.sideOption:hover {
  color: #00acee;
  background-color: #c7ebfa;
}
#btn {
  background-color: #00acee;
  color: white;
  margin-right: 10px;
}
.sideOption {
  display: flex;
  align-items: center;
  padding-left: 1%;
}
.sideOption-active {
  color: #00acee;
}
.twitter {
  color: #00acee;
}
@media only screen and (max-width: 600px) {
  h3 {
    visibility: hidden;
  }
  h3:hover {
    visibility: hidden;
  }
  .sideOption:hover {
    color: #00acee;
    background-color: #c7ebfa;
  }
  .sidebar {
    display: grid;
    align-items: center;
  }
  .sideOption {
    border-radius: 50%;
    width: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 20%;
  }
  .twitter {
    padding-left: 20%;
  }
}
