.feed {
  min-width: fit-content;
  overflow-y: scroll;
  scrollbar-width: none;
  flex: 0.5;
  margin-left: 10px;
}
.feed::-webkit-scrollbar {
  display: none;
}

.feed_home {
  position: sticky;
  background-color: var(--twitter-background);
  z-index: 100;
  top: 0;
}
.tweetBox {
  border-bottom: 2px solid var(--twitter-background);
}
.twitterInput {
  display: flex;
  margin: 10px;
}
.twitterInput input {
  margin-left: 10px;
}
.twitterInput > input {
  border: none;
}
.tweet {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
#tweetbtn {
  background-color: var(--twitter-color);
  border-radius: 20px;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
}
#image {
  border: none;
  background-color: var(--twitter-background);
  padding: 10px;
  width: 300px;
}
