.feed {
  min-width: fit-content;
  overflow-y: scroll;
  scrollbar-width: none;
  flex: 0.5;
  margin-left: 10px;
}
.feed::-webkit-scrollbar {
  display: none;
}

.feed_home {
  position: sticky;
  background-color: var(--twitter-background);
  z-index: 100;
  top: 0;
}
.tweetBox {
  border-bottom: 2px solid var(--twitter-background);
  margin-bottom: 10px;
}
.twitterInput {
  display: flex;
  margin: 10px;
}
.twitterInput > input {
  border: none;
}

#tweetbtn {
  background-color: var(--twitter-color);
  margin-left: auto;
  margin: 10px;
}
#image {
  border: none;
  background-color: var(--twitter-background);
  padding: 10px;
}
